<div class="remoteElement">
    <img src="https://angular.io/assets/images/logos/angular/angular.svg" width="30">
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" routerLink="general-table">General Table here</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="dark-table">Dark Table</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="dark-head-table" >Dark Head Table</a>
      </li>
    </ul>
  
  
    <!-- <p>
        <button routerLink="general-table">General Table</button>
        <button routerLink="dark-table">Dark Table</button>
        <button routerLink="dark-head-table">Dark Head Table</button>
    </p> -->
  <router-outlet></router-outlet>
</div>